.home {
    .hero1 {
        background-image: url(../../../assets/home_hero1.svg);
        background-size: cover;
        background-repeat: no-repeat;
        object-fit: cover;
        background-position: top;
        background-repeat: no-repeat;
        width: '100%';
    }


}